.body-lienhe{
	margin: 30px 50px 50px 50px;
	width: 90%;

}
.lienhe-header{
	height: 40px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	background: #d70018;
	color: #ffffff;
}
.lienhe-info{
	margin: 20px auto 0; 
	display: inline-block;
	width: 100%;
}
.info-left{
	float: left;
	width: 48%;
}
.info-right {
	float: right;
	width: 48%;	
}
iframe {
	border: 1px solid gray;
}

table{	
	margin-top: 10px;
	height: 20px;
}
table input{
	padding: 5px;
}
table button{
	padding: 5px;
	cursor: pointer;
	background: #FFF;
	border: 1px solid #0C9;
}
table button:hover{
	background: #0C9;
}

